          <style>
            #logo svg,
            #logo svg * {
              color: #282828;
              color: var(--MENU-SECTIONS-BG-color);
              fill: #282828 !important;
              fill: var(--MENU-SECTIONS-BG-color) !important;
              opacity: .945;
            }
            a#logo {
              color: #282828;
              color: var(--MENU-SECTIONS-BG-color);
              font-family: 'Work Sans', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
              font-size: 30px;
              font-weight: 300;
              margin-top: -13px;
              max-width: 60%;
              text-transform: uppercase;
              width: 226px;
              white-space: nowrap;
            }
            a#logo:hover {
              color: #282828;
              color: var(--MENU-SECTIONS-BG-color);
            }
            #logo svg {
              margin-bottom: -20px;
              margin-left: -23.5px;
              width: 40.5%;
            }
            @media only all and (max-width: 59.938em) {
              a#logo {
                font-size: 25px;
                margin-top: -3px;
              }
              #logo svg {
                margin-bottom: -12px;
                margin-left: -23px;
              }
            }
            @media all and (-ms-high-contrast:none) {
              {{ "/* IE11s understanding of positioning is weird at best */" | safeCSS }}
              a#logo {
                margin-top: -58px;
              }
              #logo svg {
                margin-bottom: -62px;
              }
            }
          </style>
          <a id="logo" href="https://infmod.gitlab.io/">


<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5.719 14.75a.997.997 0 0 1-.664-.252L-.005 10l5.341-4.748a1 1 0 0 1 1.328 1.495L3.005 10l3.378 3.002a1 1 0 0 1-.664 1.748zm8.945-.002L20.005 10l-5.06-4.498a.999.999 0 1 0-1.328 1.495L16.995 10l-3.659 3.252a1 1 0 0 0 1.328 1.496zm-4.678 1.417l2-12a1 1 0 1 0-1.972-.329l-2 12a1 1 0 1 0 1.972.329z"/></svg>

            Docu
          </a>
